.ico {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.ico-avia {
  background-image: url("../img/icons/avia.svg");
}

.ico-avto {
  background-image: url("../img/icons/avto.svg");
}

.ico-construction {
  background-image: url("../img/icons/construction.svg");
}

.ico-chemistry {
  background-image: url("../img/icons/chemistry.svg");
}

.ico-metallurgy {
  background-image: url("../img/icons/metallurgy.svg");
}

.ico-user {
  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.ico-basket {
  background-image: url("../img/icons/basket.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}