$color-primary: #022869;
$color-additional: #F4F5FA;
$color-background-header: #001F4D;
$color-background-header-additional: #367AF5;


$color-text: rgba(255, 255, 255, 0.9);
$color-text-additional: #367AF5;

$color-white: #ffff;
$color-black: #000000;

$text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
