.about {
  margin: 122px 0;
  padding: 0 0 0 65px;
  background: $color-additional;
  //width: 705px;
  //height: 513px;
  //background: url("../img/about_photo.jpg") no-repeat right;
  //background-size: 100%;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__content {
  padding: 47px 0;
}

.about__text {
  max-width: 500px;
  margin-top: 34px;
  @extend %font-prim;
  @include font($size: 2.0rem, $height: 3.4rem, $weight: normal, $style: normal);
  color: $color-black;

  @include media-tablet {
    max-width: 559px;
    @include font($size: 2.0rem, $height: 3.4rem, $weight: normal, $style: normal);
  }
}

.about__image {
  @include media-tablet {
    display: none;
  }
}