.promo {
  background: $color-primary;
  padding: 95px 65px;

}

.promo__wrapper {
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
  }
}

.promo__title {
  max-width: 538px;
  //margin-bottom: 126px;
  color: $color-text;
}

.promo__block {
  margin-left: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include media-tablet {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.promo__link {
  display: flex;
  align-items: center;
  margin-bottom: 300px;

  @include media-tablet {
    margin-bottom: 15px;
  }
}

.promo__sub {
  display: flex;
  align-items: center;
  &-number {
    @include font($size: 6.4rem, $height: 7.7rem, $weight: 600, $style: normal);
    margin-right: 28px;
    color: $color-text;
  }
  &-category {
    @include font($size: 1.8rem, $height: 2.2rem, $weight: 500, $style: normal);
    max-width: 190px;
    color: $color-text;
  }
}

.promo__text-one {
  @extend %font-add;
  @include font($size: 9.6rem, $height: 2.0rem, $weight: bold, $style: normal);
  color: $color-text;

  position: absolute;
  top: 296px;
  right: -10px;
}

.promo__image {
  position: relative;

  @include media-tablet {
    display: none;
  }

}
